public-site
public/
bin
index.html
*/style
*/lab/html
*/lab/lab*/html
*/lab-android/html
*/lab-service/html
*/lab???/html
*/lab?/html
*/lab??/html

*/lab-service/html/*
session??/lab.zip
session??/lab?.zip

session??/index.html
style/
index.bbprojectd/

*.vpp.bak
*.vpp~?
lab-*.zip

*.working

#bluej files
*.class
*.ctxt

resources/benchmarks/~$*.*

.DS_Store
